@page
@model EcommercePuntoSano.Pages.Admin.Productos.CreateModel

@{
    ViewData["Title"] = "Crear Productos";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4><i class="fade fa-plus-circle"></i>Crear Nuevo Producto</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <!-- Validation Summary -->
                <div asp-validation-summary="All" class="alert alert-danger d-none" id="validation-summary"></div>

                <!-- Campo: Nombre -->
                <div class="mb-3">
                    <label asp-for="Producto.Nombre" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-bolt"></i></span>
                        <input asp-for="Producto.Nombre" class="form-control" placeholder="Ingresa el nombre de producto" />
                    </div>
                    <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                </div>

                <!-- Campo: Descripción -->
                <div class="mb-3">
                    <label asp-for="Producto.Descripcion" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-tag"></i></span>
                        <textarea asp-for="Producto.Descripcion" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                </div>

                <!-- Campo: Imagen -->
                <div class="mb-3">
                    <label asp-for="Producto.Imagen" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                        <input type="file" asp-for="Producto.ImagenSubida" class="form-control" placeholder="Ingresa la imagen" />
                    </div>
                    <span asp-validation-for="Producto.ImagenSubida" class="text-danger"></span>
                </div>

                <!-- Campo: Precio -->
                <div class="mb-3">
                    <label asp-for="Producto.Precio" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                        <input asp-for="Producto.Precio" class="form-control" placeholder="Ingresa el precio" />
                    </div>
                    <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                </div>

                <!-- Campo: Cantidad Disponible -->
                <div class="mb-3">
                    <label asp-for="Producto.CantidadDisponible" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-list-ol"></i></span>
                        <input asp-for="Producto.CantidadDisponible" class="form-control" placeholder="Ingresa la cantidad" />
                    </div>
                    <span asp-validation-for="Producto.CantidadDisponible" class="text-danger"></span>
                </div>

                <!-- Campo: Categoría -->
                <div class="mb-3">
                    <label asp-for="Producto.CategoriaId" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-table-list"></i></span>
                        <select asp-for="Producto.CategoriaId" asp-items="Model.Categorias" class="form-control">
                            <option value="">Seleccione una Categoría</option>
                        </select>
                    </div>
                    <span asp-validation-for="Producto.CategoriaId" value="1" class="text-danger"></span>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <a asp-page="Index" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> Regresar
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fade fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const validationSummary = document.getElementById("validation-summary");

            // Mostrar el contenedor solo si tiene errores
            if(validationSummary.innerHTML.trim() !== ""){
                validationSummary.classList.remove("d-none");
            }
        })
    </script>
}
