@page
@model EcommercePuntoSano.Pages.Admin.Categorias.Editar
@{
	ViewData["Title"] = "Editar Categoria";
}
<h2 class="text-center">Editar Categoria</h2>
<div class="container mt-5">
	<div class="card shadow-lg">
		<div class="card-header bg-primary text-white">
			<h4><i class="fade fa-plus-circle">Editar Categoria</i></h4>
		</div>
		<div class="card-body">
			<form method="POST">

				<!--Mandar oculto-->
				<input type="hidden" asp-for="categoria.Id" />
				<div asp-validation-summary="All" class="alert alert-danger d-none" id="validation-summary"></div>
				<!--Campo:Nombre-->
				<div class="mb-3">
					<label asp-for="categoria.Nombre" class="form-label"></label>
					<div class="input-group">
						<span class="input-group-text"><i class="fa fa-tag"></i></span>
						<input asp-for="categoria.Nombre" class="form-control" placeholder="Ingrese un nombre" />
					</div>
					<span asp-validation-for="categoria.Nombre" class="text-danger"></span>
				</div>

				<!--Campo:Orden de visualizacion-->
				<div class="mb-3">
					<label asp-for="categoria.OrdenVisualizacion" class="form-label"></label>
					<div class="input-group">
						<span class="input-group-text"><i class="fa fa-sort-numeric-up-alt"></i></span>
						<input asp-for="categoria.OrdenVisualizacion" class="form-control" placeholder="Ingrese el orden de visualizacion" />
					</div>
					<span asp-validation-for="categoria.OrdenVisualizacion" class="text-danger"></span>
				</div>

				<!--Botones-->
				<div>
					<a asp-page="Index" class="btn btn-secondary">
						<i class="fade fa-arror-left"></i>Regresar
					</a>
					<button type="submit" class="btn btn-success">
						<i class="fade fa-save"></i>Guardar Cambios

					</button>


				</div>


			</form>


		</div>


	</div>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />

		<script>

			document.addEventListener("DOMContentLoaded", function() {
				const validationSummary = document.getElementById("validation-summary");
				if (validationSummary.innerHTML.trim() !== "") {
					validationSummary.classList.remove("d-none");
				}
			});

		</script>
	}
